
// Цвета текста
$color-text: #484848;
$color-text-alt: #316dc2;
$color-text-light: #ffffff;
$color-text-light-alt: #f0efe9;

// Цвета кнопки
$color-button: #316dc2;
$color-button-light: #ffffff;
$color-button-active: #275699;
$color-disabled: #a9afb7;

// Цвета форм
$color-form-light: #ffffff;
$color-form-dark: #484848;
$color-form-error: #ff5e66;
$color-disabled: #a9afb7;

// Цвет фона
$color-bg: #f0efe9;
$color-bg-alt: #ffffff;
$color-bg-accent: #316dc2;

// Цвет иконок
$color-icon: #316dc2;
$color-icon-alt: #ffffff;

// Цвета оверлея
$color-overlay: rgba(49, 109, 194, 0.2);
$color-overlay-alt: rgba(13, 29, 51, 0.4);
