.hero-slider {
  display: flex;
  flex-direction: column;
}

.hero-slider__list li:nth-child(n+2) {
  display: none;
}

.hero-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-slider__item {
  height: 568px;
  display: flex;
  align-items: flex-end;

  @media (width >= 768px) {
    height: 1024px;
  }
}

.hero-slider__image-wrapper {
  position: absolute;
  z-index: -1;
}

.hero-slider__image {
  display: flex;
}

.hero-slider__wrapper {
  width: 320px;
  padding: 20px 15px;
  z-index: 2;

  @media (width >= 768px) {
    width: 768px;
  }
}

.hero-slider__inner {
  @media (width >= 768px) {
    display: flex;
  }
}

.hero-slider__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $color-text-alt;
  background-color: $color-bg-alt;
  border-radius: 0 16px 16px 0;
  padding: 20px 16px 15px 14px;

  @media (width >= 768px) {
    padding: 30px 69px 24px 40px;
    font-size: 36px;
    line-height: 44px;
    border-radius: 0 30px 30px 0;
  }
}

.hero p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: $color-bg-alt;
  width: 267px;
  padding: 0 14px 15px;
  border-radius: 0 0 16px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 10px;
    background-image: url("../../img/sprite/ugol-p.svg");
    background-size: 8px 10px;
    right: -8px;
  }


  @media (width >= 768px) {
    padding: 0 74px 35px 40px;
    font-size: 16px;
    line-height: 20px;
    width: 355px;
    border-radius: 0 0 0 30px;

    &::before {
      position: absolute;
      content: none;
    }
  }
}

.hero-slider__link-wrapper {
  display: flex;
  width: fit-content;
  padding: 10px 15px;
  background-color: $color-bg-alt;
  border-radius: 0 0 30px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("../../img/sprite/ugol-link.svg");
    background-size: 10px 10px;
    right: -10px;
    top: 0;
  }
}

.hero-slider__link {
  width: 154px;
  height: 44px;
  display: flex;
  padding-left: 21px;
  padding-right: 59px;
  align-items: center;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    right: 5px;
    background-color: $color-button;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $color-bg-alt;
    width: 34px;
    height: 34px;
    right: 5px;
    mask-image: url("../../img/sprite/arror-tr.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 150ms ease;
  }
}

.hero-slider__link:hover {
  &::before {
    background-color: $color-bg-alt;
  }

  &::after {
    mask-image: url("../../img/sprite/arror-r.svg");
    background-color: $color-button;
    right: 4px;
  }
}

.hero-slider__link:active span {
  opacity: 0.7;
}

.hero-slider__link:focus {
  &::after {
    mask-image: url("../../img/sprite/arror-r.svg");
    right: 4px;
  }
}


.hero-slider__pagination {
  position: absolute;
  top: 203px;
  left: calc(((100% - 290px) / 2));
  display: flex;
  justify-content: center;
  align-items: center;

  // gap: 13px;
  width: 80px;
  height: 28px;
  background-color: $color-bg-alt;
  border-radius: 12px 12px 0 0;


  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("../../img/sprite/ugol-pag.svg");
    right: -10px;
    bottom: 0;
  }
}

.hero-slider__pagination-button {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: unset;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 2;
}

.hero-slider__pagination-button-span {
  display: flex;
  width: 8px;
  height: 8px;
  border: 2px solid $color-button;
  border-radius: 50%;
}

.hero-slider__pagination-button:hover .hero-slider__pagination-button-span {
  background-color: $color-button;
  opacity: 0.7;
  border: 2px solid #ffffff;
}

.hero-slider__pagination-button:focus .hero-slider__pagination-button-span {
  background-color: $color-button;
  border: none;
}

.hero-slider__pagination-button--active .hero-slider__pagination-button-span {
  background-color: $color-button-active;
  border: 2px solid $color-button-active;
}
