.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 226, 243);
  align-items: center;
}

.hero__slider {
  width: 100%;
}


.hero__slider .hero__item {
  height: 568px;
  display: flex;
  align-items: flex-end;

  @media (width >= 768px) {
    height: 1024px;
  }

  @media (width >= 1440px) {
    height: 800px;
  }
}

.hero__image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.hero__wrapper {
  width: 320px;
  padding: 20px 15px;
  z-index: 2;
  border-radius: 10px;
  margin: 0 auto;

  @media (width >= 768px) {
    width: 768px;
    padding: 45px 64px 60px 45px;
  }

  @media (width >= 1440px) {
    width: 1440px;
    padding: 100px 370px 60px 100px;
  }
}

.hero__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $color-text-alt;
  background-color: $color-bg-alt;
  border-radius: 0 16px 16px 0;
  padding: 20px 16px 15px 14px;
  user-select: none;

  @media (width >= 768px) {
    padding: 31px 40px 23px;
    font-size: 36px;
    line-height: 44px;
    border-radius: 0 30px 30px 0;
  }

  @media (width >= 1440px) {
    font-size: 54px;
    line-height: 62px;
  }
}

.hero__description-wrapper {
  display: flex;
  flex-direction: column;

  @media (width >= 768px) {
    flex-direction: row;
  }
}

.hero p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: $color-bg-alt;
  width: 267px;
  padding: 0 14px 15px;
  border-radius: 0 0 16px;
  position: relative;
  user-select: none;

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 10px;
    background-image: url("../../img/sprite/ugol-p.svg");
    background-size: 8px 10px;
    background-repeat: no-repeat;
    background-position: top left;
    right: -8px;
  }


  @media (width >= 768px) {
    padding: 0 74px 35px 40px;
    font-size: 16px;
    line-height: 20px;
    width: 355px;
    border-radius: 0 0 0 30px;

    &::before {
      content: none;
    }
  }

  @media (width >= 1440px) {
    width: 526px;
    font-size: 16px;
    line-height: 26px;
  }
}


.hero__link-wrapper {
  display: flex;
  width: fit-content;
  padding: 10px 15px;
  background-color: $color-bg-alt;
  border-radius: 0 0 14px 14px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("../../img/sprite/ugol-link.svg");
    background-size: 10px 10px;
    right: -10px;
    top: 0;
  }

  @media (width >= 768px) {
    border-radius: 0 0 30px;
    padding: 0 40px 0 0;

    &::before {
      width: 26px;
      height: 26px;
      right: -26px;
      background-size: 26px 26px;
    }
  }

  @media (width >= 1440px) {
    padding: 10px 50px 0 0;
  }
}

.hero__link {
  width: 154px;
  height: 44px;
  display: flex;
  padding-left: 21px;
  padding-right: 59px;
  align-items: center;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-align: center;
  user-select: none;


  &::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    right: 4px;
    background-color: $color-button;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $color-bg-alt;
    width: 34px;
    height: 34px;
    right: 4px;
    mask-image: url("../../img/sprite/arror-tr.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 150ms ease;
  }


  @media (width >= 768px) {
    width: 198px;
    height: 56px;
    padding-left: 31px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;


    &::before {
      width: 46px;
      height: 46px;
    }

    &::after {
      width: 46px;
      height: 46px;
    }

    @media (width >= 1440px) {
      width: 199px;
      height: 58px;
    }
  }
}

.hero__link:hover {
  &::before {
    background-color: $color-bg-alt;
  }

  &::after {
    mask-image: url("../../img/sprite/arror-r.svg");
    background-color: $color-button;
    right: 4px;
  }
}

.hero__link:active span {
  opacity: 0.7;
}

.hero__link:focus {
  &::after {
    mask-image: url("../../img/sprite/arror-r.svg");
    right: 4px;
  }
}

.hero .hero__pagination.hero__pagination {
  position: absolute;
  top: 202px; /* Здесь будет корректируемая позиция */
  left: calc(((100% - 290px) / 2));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 28px;
  background-color: $color-bg-alt;
  border-radius: 12px 12px 0 0;


  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("../../img/sprite/ugol-pag.svg");
    background-size: 10px 10px;
    background-repeat: no-repeat;
    right: -10px;
    bottom: 0;
  }

  @media (width >= 768px) {
    left: calc(((100% - 678px) / 2));
    width: 100px;
    height: 40px;
    border-radius: 20px 20px 0 0;

    &::after {
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
      right: -26px;
      bottom: 0;
    }
  }

  @media (width >= 1440px) {
    left: calc(((100% - 1240px) / 2));
  }
}

.hero .hero__pagination-button {
  display: flex;
  width: 12px;
  height: 20px;
  padding: 0;
  background-color: unset;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin: 0;

  @media (width >= 768px) {
    width: 16px;
  }

  cursor: pointer;
  z-index: 2;
}

.hero .hero__pagination-button-span {
  display: flex;
  width: 8px;
  height: 8px;
  border: 2px solid $color-button;
  border-radius: 50%;

  @media (width >= 768px) {
    width: 12px;
    height: 12px;
  }
}

.hero .hero__pagination-button:hover .hero__pagination-button-span {
  background-color: $color-button;
  opacity: 0.7;
  border: 2px solid #ffffff;
}

.hero .hero__pagination-button:focus .hero__pagination-button-span {
  background-color: $color-button;
  border: none;
}

.hero .swiper-pagination-bullet-active .hero__pagination-button-span {
  background-color: $color-button-active;
  border: 2px solid $color-button-active;
}
