.link {
  display: flex;
  color: $color-text-light;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: unset;
  border: none;
  cursor: pointer;
}
